[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Aljoshua Hell (J0SH1X)
[access "refs/for/refs/*"]
	read = group user/Aljoshua Hell (J0SH1X)
	push = group user/Aljoshua Hell (J0SH1X)
	label-Code-Review = -2..+2 group user/Aljoshua Hell (J0SH1X)
	label-Verified = -1..+1 group user/Aljoshua Hell (J0SH1X)
	rebase = group user/Aljoshua Hell (J0SH1X)
	removeReviewer = group user/Aljoshua Hell (J0SH1X)
	submit = group user/Aljoshua Hell (J0SH1X)
[access "refs/heads/*"]
	read = group user/Aljoshua Hell (J0SH1X)
	create = group user/Aljoshua Hell (J0SH1X)
	push = +force group user/Aljoshua Hell (J0SH1X)
	pushMerge = group user/Aljoshua Hell (J0SH1X)
[access "refs/tags/*"]
	push = group user/Aljoshua Hell (J0SH1X)
	push = +force group user/Aljoshua Hell (J0SH1X)
